.fitnessPlan:nth-child(odd) {
  background-color: #f6f6f6;
  border: solid 1px #f6f6f6;
}

.fitnessPlan {
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
}

.stats {
  margin-bottom: 15px;
}

.name {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #4c4c4c;
  margin-bottom: 7px;
}

.description {
  font-size: 14px;
  letter-spacing: 0.01em;
}

.workoutDaysPerWeek,
.timePerWorkout {
  margin-bottom: 1px;
  font-size: 17px;

  .label {
    color: #414141;
    letter-spacing: 0.02em;
  }
}

.label,
.answers {
  margin-right: 5px;
  margin-right: 5px;
}
