.primaryLayout {
  height: 100%;
}

.wrap {
  min-height: 100%;
  display: flex;
}

.main {
  margin: 0 auto;
  overflow: auto;
  padding-bottom: 80px;
  margin-top: 60px;
}

.reggest {
  font-size: 60px;
  line-height: 38px;
  font-family: "Ubuntu", arial, sans-serif;
  font-weight: 700;
  color: #0D0D0D;
  margin-bottom: 40px;
  display: inline-block;
}
