:global{
  body {
    margin: 0;
    background-color: #dcdcdc;
  }

  button {
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: #393939;
  }

  html,body {
    height: 100%;
  }

  #app {
    height: 100%;
  }

  html {
    font-family: verdana, arial, helvetica, sans-serif;
  }
}
