<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115758636-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115758636-2');
    </script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Map,Set,Promise,Object.assign,Array.prototype.find"></script>
    <script src="/constants.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if (htmlWebpackPlugin.options.env !== 'production') { %>
      <meta name="robots" content="noindex, nofollow" />
    <% } %>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="Starting Strength, Strong Lifts 5x5, Strong Curves, Nsuns and lots more certified fitness plans designed for your goals." />
    <meta name="twitter:card" content="app" />
    <meta property="og:title" content="9 simple questions to find the best fitness plan for you. Take the quiz now." />
    <meta property="og:url" content="https://www.reggest.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Not sure what program or routine to do at the gym? Take the fitness quiz to get a fitness plan which best suits your goals." />
    <meta property="og:image" content="/build/wwwroot/images/womanWorkout.jpg" />
    <meta property="og:site_name" content="Reggest.com" />
  </head>
  <body>
      <div id="app"></div>
  </body>
</html>